<!DOCTYPE html>
<html>

<head>
  <%- include('../../partial/head') %>
  <title>Book App</title>
</head>

<body>
  <header>
    <%- include('../../partial/nav') %>
    <h1>Book by Title or Author</h1>
  </header>
  <main>
    <form method="post" action="/searches">
      <div>
        <input type="text" name="search" placeholder="Enter Title or Author" />
      </div>
      <div>
        <label>
          <input type="radio" name="searchby" value="intitle">
          Title
        </label>
        <label>
          <input type="radio" name="searchby" value="inauthor">
          Author
        </label>
      </div>
      <button type="submit">Search the Google Books API</button>
    </form>

  </main>
  <footer>
    &copy; 2020 Natalie Sinner and Bhagirath Bhatt
  </footer>

  <%- include('../../partial/script') %>

</body>

</html>