<div class="dropdown">
        <button class="dropButton">Bookshelf</button>
        <div id="bookDropDown" class="dropdown-content">
           <input type="text" name="bookshelf-name"> 
          <input type="submit" name="bookshelf">
          
        </div>
      </div>