<!DOCTYPE html>

<html lang="en">

<head>
  <%- include("../partial/head.ejs") %>
  <title>Book App</title>
</head>

<body>
  <header>
    <%- include("../partial/nav.ejs") %>
  </header>

  <main>Stuff goes here
    <h2>Page Not Found</h2>
  </main>


  <footer>&copy; 2020 Natalie Sinner and Bhagirath Bhatt</footer>

</body>

</html>