<!DOCTYPE html>

<html lang="en">

<head>
  <%- include('../partial/head') %>
  <title>Book App</title>
</head>

<body>
  <header>
    <%- include('../partial/nav') %>
    Hello World
  </header>

  <main>500 ERROR
    <h2>ERROR: <%= error %></h2>
  </main>

  <footer>&copy; 2020 Natalie Sinner and Bhagirath Bhatt</footer>

</body>

</html>