<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/reset.css">
  <link rel="stylesheet" href="styles/style.css">
  <title>ERROR</title>
</head>

<body>

  <main>
    <p>ERROR: 404 page did not load</p>
  </main>
  <footer>
    &copy; 2020 Natalie Sinner and Bhagirath Bhatt
  </footer>

</body>

</html>